*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    
}

.nav1{
    box-sizing: border-box;
    background-color: #fff;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8%;
}

.logo{
    height: 90%
    
}
.nav1 .navLogo{
    height:100% ;
}

.navSearchBar{
    background-color: #f5f5f6;;
    color: #696e79;
    border-style: none;
    border-radius: 5px;
    width: 35%;
    padding: 0.5rem;
}
.nav1 ::placeholder{
    color: #696e79;;
    /* padding: 10px; */
}

.nav1 input:focus{
    outline: none;
}
.navIcons{
    width: 30%;
    display: flex;
    justify-content: space-around;
    color: #696e79;
}

.navIcons i{
    cursor: pointer;
}

/* CARD */
.card1, .cardSecondary{
    background-color: #F3F4F6;
    max-width: 240px;
    cursor: pointer;
    border: 1px black solid;
}

.imgDiv{
    height: 70%;
}

.secondaryImgDiv{
    height: 65%;
}

.productImg{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.cardDetail{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
    color: black;
    line-height: 18px;
}

.productTitle{
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    color: #282c3f;
    margin-bottom: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
}

.productDescrip{
    color: #535766;
    font-size: 14px;
    line-height: 1;
    margin-bottom: 0;
    margin-top: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 400;
    display: block;
}

.productPrice{
    font-size: 14px;
    color: #282c3f;
    font-weight: 500;
    padding-top: 5px;
    margin-top: 5px;
}

.strikeOut{
    text-decoration: line-through;
    color:#ff905a;
    font-weight: 400;
    margin-left: 5px;
    font-size: 12px;
}

.secondaryBtnDiv{
    display: flex;
    justify-content: center;
    margin-top: 6px;
}


.secCardBtn{
    padding: 8px;
    background-color: transparent;
    border:1px #282c3f solid;
    outline: none;
    border-radius: 3px;
}

.secCardBtn:hover{
    background-color:#DDD6FE;
}


.horizCardParent{
    width: 50vw;
    background-color: #F3F4F6;

}

.horizCardBody{
    display: flex;
}

.HorizCardDetails{
    padding: 1rem;
}

.HorizImgDiv{
    height: 10rem;
    width: 10rem;
}

.HorizImgDiv img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.brandTitle{
    padding: 0.1rem 0;
    font-size: 1.2rem;
    color: #282c3f;
}

.prdDescrip{
    color:#535766;
}

.horizCardFooter{
    padding: 1rem;
}

.horizCardBtnDiv{
    
    padding: 1rem 0;
}

.HorizQtyBtn{
    cursor: pointer;
    text-align: center;
    border: none;
    background-color: #3B82F6;
    color: white;
    font-size: 1rem;
    padding: 0.15rem 0.4rem;
    border-radius: 50%;
}

.HorizQtyBtn.subBtn{
    padding: 0.15rem 0.5rem;

}

.horizFooterBtn{
    cursor: pointer;
    padding: 0.5rem;
    background-color:#3B82F6;
    border: none;
    color: #161B22;
    border-radius: 0.3rem;
  
}

.horizFooterBtn.secBtn{
    background-color: #DDD6FE;
}

.horizCardFooter{
    border-top: 1px solid #535766;
    display: flex;
    justify-content: space-around;
    padding: 0.5rem;
}

/* Components -----> BUTTONS */

/* PRIMARY BUTTON */
.btnPrimary{
    border-radius: 10px;
    padding: 12px 15px;
    font-weight: 500;
    cursor: pointer;
    background-color: #3B82F6;
    border: 1px solid #3B82F6;
    color: #fff;
    letter-spacing: .4px;
    color: white;
    display: inline-block
}

.btnPrimaryIcon{
    padding-right: 10px;
}

.btnPrimary:hover{
    background-color: white;
    color: #3B82F6;
    border: 1px solid #3B82F6;
}

/* SECONDARY BUTTON */
.btnSecondary{
    border-radius: 10px;
    padding: 12px 15px;
    font-weight: 500;
    cursor: pointer;
    border: 1px solid #3B82F6;
    background-color: #fff;
    letter-spacing: .4px;
    color: #3B82F6;
    display: inline-block;;

}

.btnSecondaryIcon{
    padding-right: 10px;
}

.btnSecondary:hover{
    background-color: #3B82F6;
    color: white;
    border: 1px solid #3B82F6;
}



/* COMPONENT -------> BADGES */

.badge{
    display: inline-block;
    white-space: nowrap;
    vertical-align: middle;
    padding: 2px 10px;
    text-transform: uppercase;
    font-size: small;
    border-radius: 2px;
    font-weight: bold;
    font-family: sans-serif;
    margin: 10px 5px;
}

.badgeSuccess{
    background:#c6f6d5;
    color: #22543d;
}

.badgePrimary{
    background:#3b83f621;
    color: #3B82F6;
}

.badgeDelete{
    background-color: #fed7d7;
    color: #822727;
}


/* COMPONENTS ------> Avatar */
.avatar{
    border-radius: 50%;
    font-family: sans-serif;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatarContact{
    background-color: #822727;
}

.avatarOrange{
    background-color: #ff5722;
   
}

.avtImg{
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* COMPONENTS -------> ALERTS */
.alert{
    margin: 10px 0;
    padding: 4px 24px;
    color: rgba(0, 0, 0, 0.87);
    font-size: 1rem;
    word-break: break-word;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.00938em;
}

.warning{
    border-left: 5px solid #ffe564;
    background-color: rgb(254, 235, 200);
}

.danger{
    border-left: 5px solid #d82c2c;
    background-color: rgb(254, 215, 215);
}

.success{
    border-left: 5px solid #1FC61D;
    background-color: rgb(198, 246, 213);
}

.iconBtn{
    border-radius: 10px;
    padding: 12px 15px;
    cursor: pointer;
    border: 1px solid #3B82F6;
    background-color: #fff;
    color: #3B82F6;
    display: inline-block;
    font-size: 1rem;
    outline: none;
    transition: all 0.3s ease;
}

.iconBtn:hover{
    box-shadow: 0px 0px 8px 0px rgba(59,130,246,0.66);
    -webkit-box-shadow: 0px 0px 8px 0px rgba(59,130,246,0.66);
    -moz-box-shadow: 0px 0px 8px 0px rgba(59,130,246,0.66);
   
}

.notifDiv{
    width: 25vw;
    max-height: 40vh;
    overflow-y: scroll;
}

.list{
    list-style: none;
    background-color: #1F2937;
}

.notif{
    padding:1.5rem 2rem;
    width: 20vw;
    background-color: #f5f5f6;
    color:black;
    border-bottom: 1px solid #161B22;
    text-align: center;
    transition: background-color 0.2s ease-out;
    width: 100%;
}

.notif:hover{
    
    background-color: #1F2937;
    color: white;
    cursor: pointer;
    
}

.inputWithIcon {
    width:30vw;
    border: 2px solid #aaa;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: 0.3s;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inputField{
    width: 90%;
    padding:0.3rem ;
    outline: none;
    border-radius: 3px;
    border:none
}

.inputField:focus {
    border-color: dodgerBlue;
    box-shadow: 0 0 8px 0 dodgerBlue;
}